@page "/view-3"

<div class="row-layout view-3-container">
    <div class="column-layout group">
        <span class="textarea">Textarea not yet available in Blazor</span>
    </div>
    <div class="column-layout group">
        <span class="textarea">Textarea not yet available in Blazor</span>
    </div>
</div>

@code {
}
